@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
    /* Chrome and Safari */
}

body {
    font-family: "Poppins", sans-serif;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #eeeeee;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid black; */
    border-radius: 30px;
    background-color: #ffffff;
    padding: 0;
}

.text_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    text-align: left;
    padding: 0;
    margin: 0;
    /* border-right: 1px solid black; */
}

.carousel-inner>.carousel-item>img {
    width: 100%;
    height: 890px;
    object-fit: cover;
    border-radius: 30px 0px 0px 30px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    /* visibility: hidden; */
    opacity: 0;
}


span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}


.login-content {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    min-height: 570px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: 0;
}


form {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
}

.login-content h2 {
    margin: 20px 0;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 1.9rem;
    margin-bottom: 40px;
}

.login-content h3 {
    margin: 20px 0;
    color: rgb(255, 145, 0);
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
    margin-top: 0;
}

.inc {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inc i {
    transition: 0.3s;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: 0.3s;
}

.input-div:before,
.input-div:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #ffbd5b;
    transition: 0.4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus>.inc>i {
    color: #ffbd5b;
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: "poppins", sans-serif;
}

.input-div.pass {
    margin-bottom: 4px;
}

.forgot,
.loginlink {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: 0.3s;
}

.forgot:hover,
.loginlink:hover {
    color: #ffbd5b;
}

.sign-up {
    text-decoration: none;
    color: #999;

    transition: 0.3s;
}

.sign-up:hover {
    color: #ffac2e;
    /* #ffc56e */
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #ffac2e, #ffbd5b, #ffac2e);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-position: right;
}


@media screen and (max-width: 1000px) {
    .carousel-inner>.carousel-item>img {
        border-radius: 30px 30px 0px 0px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    form {
        width: 290px;
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }


    .login-content {
        justify-content: center;
    }

    .carousel-inner>.carousel-item>img {
        border-radius: 30px 30px 0px 0px;
    }
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
}

.row .two {
    width: 50%;
    margin-right: 10px;
}

.row .three {
    width: 50%;
    margin-left: 10px;
}

/* Forgot password */

.hidden {
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
}

.fadeout {
    transition: visibility 0s linear 0ms, opacity 300ms;
}

.fadein {
    transition: visibility 0s linear 300ms, opacity 300ms;
}